@{
    ViewBag.Title = "تنظیمات سایت";
}

<style type="text/css">
</style>

<div class="uk-container">
    <div class="subheader">
        <ul class="uk-breadcrumb">
            <li><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
            <li>تنظیمات</li>
        </ul>
    </div>

    <div class="uk-card uk-card-default uk-card-body m-bottom-20">
        <h3 class="uk-card-header">تنظیمات فروشگاه</h3>
        <div>
            <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/tariff">تعرفه های ارسال فروشگاه</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/delivery">لیست شهرهای تحت پوشش پیک</a>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-card-body m-bottom-20">
        <h3 class="uk-card-header">صفحات سایت</h3>
        <div>
            <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/aboutus">درباره ما</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/eBusinessLaw">قانون مندی کسب و کار اینترنتی</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/exportProduct">صادرات</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/solicitorship">اخذ نمایندگی</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/howToOrder">ثبت سفارش</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/trackingOrder">رهگیری سفارشات</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/delivery">ارسال سفارش</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/paymentTerms">شیوه های پرداخت</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/returnPolicy">رویه بازگرداندن کالا</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/page/warranty">خدمات پس از فروش</a>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-header">ثابت های سایت</h3>
        <div>
            <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/contact">اطلاعات تماس</a>
                </div>
                <div class="m-top-20">
                    <a class="uk-button uk-button-primary v-middle uk-display-block" href="/admin/site/socialnetwork">شبکه های اجتماعی</a>
                </div>
            </div>
        </div>
    </div>

</div>

