<div class="uk-container">
    <div class="subheader">
        <ul class="uk-breadcrumb">
            <li><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
            <li><a href="/admin/slider/list">لیست اسلایدر</a></li>
            @if (ViewBag.Id != null)
            {
                <li><a href="/admin/slider/edit/@ViewBag.Id">ویرایش اسلایدر</a></li>
            }
            else
            {
                <li><a href="/admin/slider/add">اسلایدر جدید</a></li>
            }
        </ul>
    </div>

    <div class="content">
        <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-flex-center" uk-grid>
            <form id="frmSlider" class="form" action="/admin/slider/save" data-load="/admin/slider/load" method="post" data-success="saveComplete" loader="1" data-load-success="loadComplete">

                <input type="hidden" name="id" value="@ViewBag.Id" lock />

                <div class="uk-margin">
                    <label class="uk-form-label" for="txtOrder">ترتیب</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon"><i class="fal fa-sort"></i></span>
                            <input id="txtOrder" class="uk-input" type="tel" name="order" data-validate="required, number" />
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="txtFileName">تصویر</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon"><i class="fal fa-image"></i></span>
                            <input id="hiddenFileId" type="hidden" name="fileId" />
                            <input id="txtFileName" class="uk-input input-ltr-left-icon" type="text" name="fileName" data-validate="required" readonly />
                            <input id="file" type="file" class="hide" />
                            <span id="upload" class="form-icon"><i class="fal fa-upload"></i></span>
                            <span id="clearFile" class="form-icon hide"><i class="fal fa-times"></i></span>
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="txtLink">لینک</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon"><i class="fal fa-link"></i></span>
                            <input id="txtLink" class="uk-input ltr txt-al-l" type="text" name="link" />
                        </div>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="cmbStatus">وضعیت</label>
                    <div class="uk-form-controls">
                        <select id="cmbStatus" class="uk-select" name="statusId" data-validate="required">
                            <option value="">...</option>
                            <option value="1">فعال</option>
                            <option value="2">غیرفعال</option>
                        </select>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="cmbTypeId">نوع اسلایدر</label>
                    <div class="uk-form-controls">
                        <select id="cmbTypeId" class="uk-select" name="typeId" data-validate="required">
                            <option value="">...</option>
                            <option value="1">اسلایدر اصلی</option>
                            <option value="2">اسلایدر تکی در وسط صفحه اصلی</option>
                        </select>
                    </div>
                </div>

                <div class="uk-width-1-1@m uk-margin-medium-top">
                    <ul uk-tab="connect: #translationList">
                        @foreach (var item in Asefian.Model.Context.Language.GetList())
                        {
                            <li><a href="#">@item.PersianTitle</a></li>
                        }
                    </ul>

                    <ul id="translationList" class="uk-switcher uk-margin" data-list="translations">
                        @foreach (var item in Asefian.Model.Context.Language.GetList())
                        {
                            <li data-list-form>
                                <input name="languageId" type="hidden" value="@item.Id" key lock />
                                <div class="uk-margin">
                                    <label>توضیحات</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon"><i class="fal fa-heading"></i></span>
                                        <input class="uk-input" type="text" name="text" data-validate="required" />
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                </div>
                <div class="uk-margin">
                    <button id="btnSubmit" type="submit" class="uk-button uk-button-primary uk-width-1-1">ذخیره</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/upload")
    <script type="text/javascript" src="/scripts/app/slider/app.save.js"></script>
}