#main-page-container { margin-top: 40px; }
.main-page-info { display: inline-block; background-color: rgba(245,245,245, 0.9); border-radius: 50%; padding: 2px; }
.main-page-info img { width: 85px; margin: auto; display: block; padding: 12px; }


.product { height: 100%; border-radius: 3px; }
#shopProductList { margin-bottom: 40px; }
#shopProductList.uk-grid > * { padding-right: 10px; }
#shopProductList .product { padding: 10px; display: flex; flex-direction: column; }
#shopProductList .product a { flex: 1; }
#shopProductList .uk-card-title { font-size: 1.2rem; line-height: 1.0; font-weight: bold; }
#shopProductList .product-image { background-size: cover !important; height: 93%; background-position: center !important; min-height: 190px; }


#main-search { margin-bottom: 50px; }
#search-bar { position: relative; }
#search-bar .title { width: 140px; padding: 13px 10px 12px 10px; font-size: 15px; position: relative; background: #525050; color: white;height:21px }
#search-bar .title:before { content: " "; position: absolute; display: block; width: 100%; height: 100%; top: 0; left: 0; z-index: 0; background: #525050; transform-origin: top left; -ms-transform: skew(-40deg, 0deg); -webkit-transform: skew(-40deg, 0deg); transform: skew(-40deg, 0deg); }
#search-bar .search-bar { background-color: #fe5e01; width: 100%; height: 46px; position: absolute; bottom: 0; }
#btnAdvancedSearch { max-width: 130px; width: 100%; margin-top: 24px; }


#main-category { margin-bottom: 50px; }
#category-bar .category-bar { background-color:#525050; height: 47px; color: white; display: flex; overflow: hidden; }
#category-bar .category-item:first-child { margin-right: -25px; }
#category-bar .category-item:last-child { margin-left: -25px; }
#category-bar .category-item { flex: auto; text-align: center; padding: 12px 0; cursor: pointer; -ms-transform: skew(-15deg); -webkit-transform: skew(-15deg); transform: skew(-45deg); -webkit-transition: background-color 150ms linear; -ms-transition: background-color 150ms linear; transition: background-color 150ms linear; }
#category-bar .category-item.active { background-color: #fe5e01; color: white; -webkit-transition: background-color 150ms linear; -ms-transition: background-color 150ms linear; transition: background-color 150ms linear; }
#category-bar .category-item span { transform: skew(45deg); display: block; }
#categorySlider { white-space: nowrap; }
.product { height: 100%; border-radius: 3px; }

#categoryProductList { padding: 15px 0px !important; position: relative; }
#categoryProductList .category-list-slider { margin: 0 20px; }
#categoryProductList .uk-panel { padding: 15px 15px 0 15px; width: 250px; display: inline-block; }
#categoryProductList .detail { padding: 0 7px 12px; background-color: #f5f5f5a6; }
#categoryProductList .uk-panel:hover .detail { background-color:  #fe5e01; }
#categoryProductList .uk-panel:hover .detail div { color: white; }
#categoryProductList a { text-decoration: none; }
#categoryProductList .category-title { color: #000; margin: 10px 0 6px; font-weight: bold; width: 100%; color:  #fe5e01; }
#categoryProductList .category-description { text-align: justify; max-height: 63px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; display: block; color: #333; line-height: 22px; white-space: pre-wrap; }
#categoryProductList li { display: flex; }
#categoryProductList a { flex: 1; display: flex; align-items: center; flex-flow: column; }
#categoryProductList .img { display: flex; flex: 1; align-items: center; }


#news-section { margin-bottom: 50px; }
/*.news { border: solid 2px rgb(161,161,161); }
.news:hover { border: solid 2px rgb(253, 180, 16); }*/
.news-image { height: 220px; }
.news-title { font-size: 15px; line-height: 30px; margin-top: 10px; text-align: justify; height: 30px; overflow: hidden;color:#fe5e01 }
.news-abstract { font-size: 12px; line-height:22px; text-align:justify}
.news-more { text-decoration:none !important ;color:#fe5e01}
.news-more:hover{ text-decoration:none !important ;color:#666}

#brand-section li { display: flex; }
#brand-section li a { flex: 1; display: flex; align-items: center; }
#brand-section li a img { flex: 1; align-items: center; padding: 25px; }

#brandSlider { white-space: nowrap; direction: ltr; }
.brand-slider-item { max-width: 150px; display: inline-block; padding: 8px; direction: inherit; }
