@model Asefian.Model.Context.Core.BaseInformation

<div class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="/"><i class="fal fa-home"></i></a></li>
        <li><span>@Asefian.Web.Resource.Translation.AboutUs</span></li>
    </ul>

    @Html.Raw(Model.Value)

</div>
