<div style="padding-top: 7px; border-top: solid 1px silver;">
    {{if page - 1 != totalPage}}
    <ul class="uk-pagination uk-flex-left">
        {{if page - 1 > 0}}
        <li><a href="#" class="list-page navigator" data-page="0"><i class="fas fa-angle-double-right"></i></a></li>
        <li><a href="#" class="list-page navigator" data-page="{{:page - 2}}"><i class="fas fa-angle-right"></i></a></li>
        {{/if}}
        {{if page - 4 > 0 && page + 1 >= totalPage}}
        <li><a class="list-page" href="#" data-page="{{:page - 5}}">{{:page - 4}}</a></li>
        {{/if}}
        {{if page - 3 > 0 && page + 2 >= totalPage}}
        <li><a class="list-page" href="#" data-page="{{:page - 4}}">{{:page - 3}}</a></li>
        {{/if}}
        {{if page - 2 > 0}}
        <li><a class="list-page" href="#" data-page="{{:page - 3}}">{{:page - 2}}</a></li>
        {{/if}}
        {{if page - 1 > 0}}
        <li><a class="list-page" href="#" data-page="{{:page - 2}}">{{:page - 1}}</a></li>
        {{/if}}
        <li class="uk-active uk-disabled"><a class="page page-active black" href="#">{{:page}}</a></li>
        {{if page + 1 <= totalPage}}
        <li><a class="list-page" href="#" data-page="{{:page}}">{{:page + 1}}</a></li>
        {{/if}}
        {{if page + 2 <= totalPage}}
        <li><a class="list-page" href="#" data-page="{{:page + 1}}">{{:page + 2}}</a></li>
        {{/if}}
        {{if page + 3 <= totalPage && page - 2 <= 0}}
        <li><a class="list-page" href="#" data-page="{{:page + 2}}">{{:page + 3}}</a></li>
        {{/if}}
        {{if page + 4 <= totalPage && page - 1 <= 0}}
        <li><a class="list-page" href="#" data-page="{{:page + 3}}">{{:page + 4}}</a></li>
        {{/if}}
        {{if page + 1 <= totalPage}}
        <li><a href="#" class="list-page navigator" data-page="{{:page}}"><i class="fas fa-angle-left"></i></a></li>
        <li><a href="#" class="list-page navigator" data-page="{{:totalPage - 1}}"><i class="fas fa-angle-double-left"></i></a></li>
        {{/if}}
    </ul>
    {{/if}}

</div>